stages:
  - dev-precommit-on-branch-push
  - dev-execute-on-branch-push
  - prod-execute-on-merge-to-main
  - dev-execute-on-web-or-scheduled
  - prod-execute-on-web-or-scheduled

variables:
  PY_SCRIPT_PATH: ../cal2planner.py
  PY_ARTIFACT1_PATH: ./dashboard_current.txt
  PY_ARTIFACT2_PATH: ./dashboard_old.txt

default:
  # tags:
  #   - runnerdepo

(dev) pre-commit on feature branch push:
  stage: dev-precommit-on-branch-push
  environment:
    name: dev
  variables: {}
  image: python:3.10.11-bullseye
  rules:
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME != 'main'
  before_script:
    - |-
      echo "Execution Environment: "$CI_ENVIRONMENT_NAME
      echo "running pre-commit validation testing"
      echo "checking for python script existance: "$PY_SprepreCRIPT_PATH
      if [[ ! -f  $PY_SCRIPT_PATH ]]
      then
        echo "main python script file:  $PY_SCRIPT_PATH is not found!"
        exit 1
      fi
      if [[ ! -f ./requirements.txt ]]
      then
        echo "python script dependency file: requirements.txt is missing!"
        exit 1
      fi
      if [[ ! -f ./requirements-dev.txt ]]
      then
        echo "developement pre-commit dependency file: requirements-dev.txt is missing!"
        exit 1
      else
        echo "Installing developement pre-commit requirements-dev.txt dependencies"
        pip3 install -r ./requirements-dev.txt
        pre-commit install
      fi
  script:
    - pre-commit run --files ./*

(dev) run python-script on succesful pre-commit:
  stage: dev-execute-on-branch-push
  environment:
    name: dev
  variables: {}
  image: python:3.10.11-bullseye
  rules:
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME != 'main'
  before_script:
  - |-
    echo "Execution Environment: "$CI_ENVIRONMENT_NAME
    echo "Installing python script dependencies referenced in requirements.txt"
    pip3 install -r ./requirements.txt
  script:
    - python3  $PY_SCRIPT_PATH
  artifacts:
    paths:
      -  $PY_ARTIFACT1_PATH
      -  $PY_ARTIFACT2_PATH


(prod) run python-script on merge to main:
  stage: prod-execute-on-merge-to-main
  environment:
    name: prod
  variables: {}
  image: python:3.10.11-bullseye
  rules:
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME == 'main'
  before_script:
  - |-
    echo "Execution Environment: "$CI_ENVIRONMENT_NAME
    echo "Installing python script dependencies referenced in requirements.txt"
    pip3 install -r ./requirements.txt
  script:
    - python3  $PY_SCRIPT_PATH
  artifacts:
    paths:
      -  $PY_ARTIFACT1_PATH
      -  $PY_ARTIFACT2_PATH

(dev) run python-script on web or scheduled pipeline:
  stage: dev-execute-on-web-or-scheduled
  environment:
    name: dev
  image: python:3.10.11-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == 'schedule' || $CI_PIPELINE_SOURCE == 'web')
  before_script:
  - |-
    echo "Execution Environment: "$CI_ENVIRONMENT_NAME
    echo "Installing python script dependencies referenced in requirements.txt"
    pip3 install -r ./requirements.txt
  script:
    - python3  $PY_SCRIPT_PATH
  artifacts:
    paths:
      -  $PY_ARTIFACT1_PATH
      -  $PY_ARTIFACT2_PATH

(prod) run python-script on web or scheduled pipeline:
  stage: prod-execute-on-web-or-scheduled
  environment:
    name: prod
  image: python:3.10.11-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == 'schedule' || $CI_PIPELINE_SOURCE == 'web')
  before_script:
  - |-
    echo "Execution Environment: "$CI_ENVIRONMENT_NAME
    echo "Installing python script dependencies referenced in requirements.txt"
    pip3 install -r ./requirements.txt
  script:
    - python3  $PY_SCRIPT_PATH
  artifacts:
    paths:
      -  $PY_ARTIFACT1_PATH
      -  $PY_ARTIFACT2_PATH
