# https://github.com/pre-commit/pre-commit-hooks/tags

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: double-quote-string-fixer

  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.12
        args:
         - --skip-string-normalization

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        args:
        - --max-line-length=88

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
    - id: bandit

  # - repo: https://github.com/igorshubovych/markdownlint-cli
  #   rev: v0.34.0
  #   hooks:
  #   - id: markdownlint
  #     args:
  #       - --disable=MD013
  #       - --disable=MD024
  #       - --disable=MD033
